% set CID = CLIENT_ID %}

set interfaces ethernet eth1 vif {{CID}} address '172.16.{{CID}}.1/31'
set protocols static route 10.0.{{CID}}.0/24 next-hop 172.16.{{CID}}.0

set zone-policy zone VL{{CID}} default-action 'drop'
set zone-policy zone VL{{CID}} description 'VL{{CID}}'
set zone-policy zone VL{{CID}} interface 'eth1.{{CID}}'

{% if INTERNET is defined %}
set firewall name WORLD-TO-VL{{CID}} default-action 'drop'
set firewall name WORLD-TO-VL{{CID}} rule 1 action 'accept'
set firewall name WORLD-TO-VL{{CID}} rule 1 state established 'enable'
set firewall name WORLD-TO-VL{{CID}} rule 1 state related 'enable'
set firewall name WORLD-TO-VL{{CID}} rule 2 action 'drop'
set firewall name WORLD-TO-VL{{CID}} rule 2 state invalid 'enable'

set zone-policy zone VL{{CID}} from WORLD firewall name 'WORLD-TO-VL{{CID}}'
set zone-policy zone WORLD from VL{{CID}} firewall name 'TO-WORLD'
{% endif %}
